<body>
<div id="topbar">
</div>
<div id="container">
  <div id="header">
  <div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
  <img class="logo" src="https://stackblitz.com/files/angular-ivy-6yj59k/github/stephenchrizeltechnologies/ChrizelTechnologies/master/src/app/assert/img/PicsArt_08-03-03.28.48.png" alt="logo" style="width:25%">
<h1 style="color:DarkMagenta;"  >Chrizel Technologies</h1>
</div>


<mat-tab-group mat-align-tabs="end">
<mat-tab label="Home">
<div class="example-large-box mat-elevation-z4">
  <mat-card>
    <body>
      <div id="banner">
        <img src="https://stackblitz.com/files/angular-ivy-6yj59k/github/stephenchrizeltechnologies/ChrizelTechnologies/master/src/app/assert/img/01890923f178ea5693c3816aa0bc65e2.jpg">
      </div>
      <h2 style="color:DarkMagenta;"> Process</h2>
    
      <mat-progress-bar mode="buffer"></mat-progress-bar>

       <p>Our Process</p>
       <p>We are open to new ideas, respond to changes, listen to feedback, develop shippable products, and follow Agile methodology. Thus, our clients love our process for a quick turn around</p>
    </body>
  </mat-card>
  <mat-card>
    <body>
      <h2 style="color:DarkMagenta;"> Our Technology</h2>
      <mat-progress-bar mode="buffer"></mat-progress-bar>

       <p>We are passionate about what we do. Technology is our strength, and we build everything around it. We have a continuous learning program and encourage everyone in our organization to be up to date</p>

       <p>Whether it is .Net framework, Log shipping in SQL Server, Angular JSON, Vue js, Amazon Cloud, or Automation Testing, we have a core team that translates this knowledge across the company and challenge them continuously.</p>

       <p>In embracing technology, we have surpassed the goals that we set for ourselves! We keep an eye on upgrades to software/tools and update them relentlessly. We don't use any of the existing code bases when we create something new. We build them ground up.</p>
    </body>
 </mat-card>
</div>
</mat-tab>
<mat-tab label="Technology">
<div class="example-large-box mat-elevation-z4">
<body>
<h2 style="color:DarkMagenta;"> Our Technology</h2>
<mat-progress-bar mode="buffer"></mat-progress-bar>

<p>We are passionate about what we do. Technology is our strength, and we build everything around it. We have a continuous learning program and encourage everyone in our organization to be up to date</p>

<p>Whether it is .Net framework, Log shipping in SQL Server, Angular JSON, Vue js, Amazon Cloud, or Automation Testing, we have a core team that translates this knowledge across the company and challenge them continuously.</p>

<p>In embracing technology, we have surpassed the goals that we set for ourselves! We keep an eye on upgrades to software/tools and update them relentlessly. We don't use any of the existing code bases when we create something new. We build them ground up.</p>
</body>

</div>
</mat-tab>
<mat-tab label="Products">
<div class="example-large-box mat-elevation-z4">
<mat-card class="example-card">
<mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>fastaza</mat-card-title>
  <mat-card-subtitle>Best Online grocery selling app</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://stackblitz.com/files/angular-ivy-6yj59k/github/stephenchrizeltechnologies/ChrizelTechnologies/master/src/app/assert/img/a6e89225-b415-4da6-b3bc-67e477f6f368.jpg" alt="logo">
<mat-card-content>
  
  <p>WhatsApp: +91- 9342410512</p>

  <p>Mobile Number: +91- 9342410512</p>
  <a href="www.fastaza.com">www.fastaza.com</a>
</mat-card-content>
</mat-card>

</div>
</mat-tab>
<mat-tab label="Careers">
<div class="example-large-box mat-elevation-z4">
  <body>
<h2 style="color:DarkMagenta;">Careers</h2>
<mat-progress-bar mode="buffer"></mat-progress-bar>

<p>Be a part of our Journey of Success</p>
<p>Explore a Career at</p>
<p>Chrizel Technologies</p>
<p>If you are looking for a career that provides you a diversified range of skills and product knowledge, then Chrizel Technologies is the right choice for you.</p>

<p>At Chrizel Technologies, you will be working alongside industry-leading products. Check out the current job openings and apply for the position that you are looking for.</p>

<p>Our Technology</p>
<p>Our Current Openings</p>
<p>If you are interested in any of the below positions, apply directly using the form below or email your resume to admin@chrizeltechnologies.com quoting the Job Reference ID in the subject line.</p>

<p>Many</p>
<p>Positions</p>

<p>.NET Developer</p>
<p>Total Experience: 2 - 4 Years</p>

<p>Chennai</p>
<p>Positions</p>

<p>.NET Developer</p>
<p>Front End Developer</p>
<p>(Angular, React, or Vue)</p>
<p>Total Experience: 2 – 4 Years</p>

<p>Chennai</p> 

<p>Positions</p>

<p>Python Developer</p>
<p>Total Experience: 2 – 4 Years</p>

<p>Coimbatore</p>

<p>Positions</p>

<p>Android Developer</p>
<p>Total Experience: 2+ Years</p>

<p>Chennai</p>
<p>Positions</p>

<p>SQL DBA</p>
<p>Total Experience: 2 – 4 Years</p>

<p>Chennai,e</p>
  </body>

</div>
</mat-tab>
<mat-tab label="About us">
<div class="example-large-box mat-elevation-z4">
<body>

<h2 style="color:DarkMagenta;">About us</h2>
<mat-progress-bar mode="buffer"></mat-progress-bar>


<p>Welcome to Chrizel Technologies Private Limited, your number one source for all things of product. We're dedicated to providing you the very best products, with an emphasis on quality, express delivery, customer friendly.</p>

 

<p>Founded in 2021 by Glory Precious, Chrizel Technologies Private Limited has come a long way from its beginnings in Chennai, India. When Glory precious first started out, her passion for "eco-friendly organic products" drove them to start their own business.</p>

 

<p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>

 

<p>Sincerely,</p>

<p>Glory Precious</p>

<a href="admin@chrizeltechnologies.com">admin@chrizeltechnologies.com</a>

</body>
</div>
</mat-tab>
<mat-tab label="Contact Us">
<div class="example-large-box mat-elevation-z4">
<body>
<h2 style="color:DarkMagenta;">Contact Us</h2>
<mat-progress-bar mode="buffer"></mat-progress-bar>

<p>WhatsApp: +91- 9342410512</p>

<p>Mobile Number: +91- 9342410512</p>

<a href="admin@chrizeltechnologies.com">admin@chrizeltechnologies.com</a>

<p>Available on all working days from 9 AM to 6 PM.</p>

<p>Address: S2, Plot no 124, Sri Krishna nagar,</p>

              <p>Noombal, Iyyapanthangal,</p>

              <p>Chennai - 600077</p>

              <p>Tamilnadu, India.</p>

</body>
</div>
</mat-tab>
</mat-tab-group>
</div>
<div id="footer">
<h1>Chrizel Technologies Pvt Ltd</h1>
  
  <footer>
    <p>A leaf of innovation<br>
    <a href="admin@chrizeltechnologies.com">admin@chrizeltechnologies.com</a></p>
  </footer>
</div>
</body>
