#topbar{
  background-color: black;
  height: 10px;
  width: 100%;
}
body{
  background-color: white;
}
#container{
  background-color: white;
  height: 900px;
  width: 100%;
  margin:0px auto;
}
#header {
  // best seen at 1500px or less
html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
}
#banner img{
  width: 100%;
}
  
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://stackblitz.com/files/angular-ivy-6yj59k/github/stephenchrizeltechnologies/ChrizelTechnologies/master/src/app/assert/img/a6e89225-b415-4da6-b3bc-67e477f6f368.jpg');
  background-size: cover;
}
img {
  border-radius: 40px;
  display: block;
  margin-left: auto;
  margin-right: 10%;
}
p {
  font-family: "Times New Roman", Times, serif;
}
.example-small-box, .example-large-box {
  display: flex;
  align-items: normal;
  justify-content: normal;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
.example-large-box {
  background-color:  hsla(120, 100%, 25%, 0.3);
  height: 700px;
  width: 1130px;
}
div {
  background-color:rgb(212, 233, 232));
}