#topbar{
  background-color: black;
  height: 10px;
  width: 100%;
}
body{
  background-color: white;
}
#container{
  background-color: white;
  height: 900px;
  width: 100%;
  margin:0px auto;
}
#header
''
  height:
]
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://stackblitz.com/files/angular-ivy-6yj59k/github/stephenchrizeltechnologies/ChrizelTechnologies/master/src/app/assert/img/a6e89225-b415-4da6-b3bc-67e477f6f368.jpg');
  background-size: cover;
}
img {
  border-radius: 40px;
  display: block;
  margin-left: auto;
  margin-right: 10%;
}
p {
  font-family: "Times New Roman", Times, serif;
}
.example-small-box, .example-large-box {
  display: flex;
  align-items: normal;
  justify-content: normal;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
.example-large-box {
  background-color:  hsla(120, 100%, 25%, 0.3);
  height: 700px;
  width: 1130px;
}
div {
  background-color:rgb(212, 233, 232));
}