p {
  font-family: "Times New Roman", Times, serif;
}
.example-small-box, .example-large-box {
  display: flex;
  align-items: normal;
  justify-content: normal;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}


.example-large-box {
  height: 700px;
  width: 1130px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  height: 35px;
  width: 200px;
}
div {
  background-color:rgb(212, 233, 232));
}